.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
  }
  footer {
    font: calibri;
    text-align: Center;
    padding: 20px;
    background-color: #cccccc;
    color: white;
  } 
  h2 {
  padding: px;
  text-align: Center;}
  img {padding: 35px;}
  body h1,h2{font-family: 'Times New Roman', serif; padding: 0px;}
  .container{
    padding: 0 100px 0 20px;
    
  }
  
.footer{
    padding: 10px;
}
.footer span{
    color:#999999; 
    font-weight: bold;
}